<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>luobo</string>
		<key>goodName</key>
		<string>家宴必备萝卜，清脆爽口。</string>
		<key>goodPrNum</key>
		<string>40</string>
		<key>praice</key>
		<string>16</string>
		<key>goodDetail</key>
		<string>营养
萝卜在中国民间素有“小人参”的美称。一到冬天，便成了家家户户饭桌上的常客，现代营养学研究表明，萝卜营养丰富，含有丰富的碳水化合物和多种维生素，其中维生素C的含量比梨高8—10倍。 [6] 
萝卜含有能诱导人体自身产生干扰素的多种微量元素；白萝卜富含维生素C，而维生素C为抗氧化剂，能抑制黑色素合成，阻止脂肪氧化，防止脂肪沉积。 [7] 
萝卜中含有大量的植物蛋白、维生素C和叶酸，食入人体后可洁净血液和皮肤，同时还能降低胆固醇，有利于血管弹性的维持。 [7] 
药用
中医认为，萝卜性凉，昧辛甘，无毒，入肺、胃经，能消积滞、化痰热、下气、宽中、解毒，治食积胀满、痰嗽失音、肺痨咯血、呕吐反酸等。萝卜具有很强的行气功能，还能止咳化痰、除燥生津、清热懈毒、利便。 [8] 
萝卜可增强肌体免疫力，并能抑制癌细胞的生长，对防癌、抗癌有重要意义。萝卜中的B族维生素和钾、镁等矿物质可促进胃肠蠕动，有助于体内废物的排出。常吃萝卜可降低血脂、软化血管、稳定血压，预防冠心病、动脉硬化、胆石症等疾病。 [7] 
经济
据统计以萝卜为原料与其他食用植物可搭配出近100种菜肴供日常食用，可制成各种小菜60种以上。因此，以萝卜为主要的原料，可以开发出多种类型的萝卜系列食品，如液汁型萝卜食品、粉面型萝卜食品、食疗型萝卜食品，萝卜作为蔬菜作物的市场潜力有待进一步挖掘遥。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>bocai</string>
		<key>goodName</key>
		<string>新鲜菠菜，营养丰富，炖锅必备。</string>
		<key>goodPrNum</key>
		<string>17</string>
		<key>praice</key>
		<string>8</string>
		<key>goodDetail</key>
		<string>菠菜是二千多年前波斯人栽培的菜蔬，也叫做“波斯草”，后在唐朝时由尼泊尔人带入中国。
唐代贞观二十一年（公元641年），尼泊尔国王那拉提波把菠菜从波斯拿来，作为一件礼物，派使臣送到长安，献给唐皇，从此菠菜在中国落户了。当时 中国称菠菜产地为西域菠薐国，这就是菠菜被叫做“菠薐菜”的原因，后简化为“菠菜”；潮汕等地念做“bo ling&quot;，翻译为飞龙，所以又叫飞龙菜。
菠菜有很多别名，其中有一个别名就是红根菜，就取其根的颜色命名；还有别名叫鹦鹉菜。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>huanggua</string>
		<key>goodName</key>
		<string>鲜嫩黄瓜，炒菜敷面膜必备</string>
		<key>goodPrNum</key>
		<string>54</string>
		<key>praice</key>
		<string>17</string>
		<key>goodDetail</key>
		<string>黄瓜富含蛋白质、糖类、维生素B2、维生素C、维生素E、胡萝卜素、尼克酸、钙、磷、铁等营养成分。 [7] 
功效
顺发亮甲：黄瓜中的硅可使头发更顺，指甲更亮更结实。而黄瓜中的硫还有利于刺激头发生长。
美容护肤：现代医学研究表明，新鲜黄瓜中含有的黄瓜酶能有效促进机体的新陈代谢，扩张皮肤的毛细血管，促进血液循环，增强皮肤的氧化还原作用，因此黄瓜具有美容的效果。同时，黄瓜含有丰富的维生素，能够为皮肤提供充足的养分，有效对抗皮肤衰老。
清口气，益肾脏：黄瓜汁对治愈牙龈疾病有益，常吃能使口气更清新。此外黄瓜还可降低体内尿酸水平，对肾脏具有保护作用。
排毒防便秘：黄瓜含有细纤维素，这种纤维素能够促进肠道蠕动，帮助体内宿便的排出，营养丰富的黄瓜有利于“清扫”体内垃圾，常吃有助于预防肾结石。
醒酒防中毒：黄瓜含有大量的B族维生素和电解质，可补充重要营养素，从而减轻酒后不适，缓解宿醉。另外，黄瓜中所含的丙氨酸、精氨酸和谷胺酰胺对肝脏病人，特别是对酒精肝硬化患者有一定的辅助治疗作用，可防酒精中毒。
补充维生素：黄瓜富含多种维生素，如B族维生素、维生素C等。需要提醒的是，黄瓜连皮吃，补充维生素的效果更好。
预防糖尿病，降脂稳压：黄瓜中的一种激素有利于胰腺分泌胰岛素，可辅助治疗糖尿病。黄瓜中的固醇类成分能降低胆固醇。黄瓜富含的膳食纤维、钾和镁有益调节血压水平，预防高血压。
减轻关节炎和痛风疼痛：黄瓜中的硅有助增强关节结缔组织健康。黄瓜与胡萝卜汁同食可降低尿酸，缓解关节炎和痛风疼痛。 [8] 
</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>qiezi</string>
		<key>goodName</key>
		<string>大棚栽种，无公害纯绿色天然茄子，居家炒菜首选</string>
		<key>goodPrNum</key>
		<string>34</string>
		<key>praice</key>
		<string>25</string>
		<key>goodDetail</key>
		<string>⒈茄子的营养丰富，含有蛋白质、脂肪、碳水化合物、维生素以及钙、磷、铁等多种营养成分。
⒉茄子中维生素P的含量很高，每100克中即含维生素P750毫克。能增强人体细胞间的黏着力，增强毛细血管的弹性，减低脆性及渗透性，防止微血管破裂出血。
⒊茄子还含磷、钙、钾等微量元素和胆碱、胡芦巴碱、水苏碱、龙葵碱等多种生物碱。尤其是紫色茄子中维生素含量更高。可以抑制消化道肿瘤细胞的增值。
⒋茄子纤维中所含的维生素C和皂草甙，具有降低胆固醇的功效。国外学者提出“降低胆固醇12法”，食用茄子即是其中方法之一。
⒌茄子所含的B族维生素对痛经、慢性胃炎及肾炎水肿等也有一定辅助治疗作用。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>huluobo</string>
		<key>goodName</key>
		<string>农家自种胡萝卜。营养价值高，好吃大补，特价兜售，24小时内半价。</string>
		<key>goodPrNum</key>
		<string>25</string>
		<key>praice</key>
		<string>15</string>
		<key>goodDetail</key>
		<string>⒈茄子的营养丰富，含有蛋白质、脂肪、碳水化合物、维生素以及钙、磷、铁等多种营养成分。
⒉茄子中维生素P的含量很高，每100克中即含维生素P750毫克。能增强人体细胞间的黏着力，增强毛细血管的弹性，减低脆性及渗透性，防止微血管破裂出血。
⒊茄子还含磷、钙、钾等微量元素和胆碱、胡芦巴碱、水苏碱、龙葵碱等多种生物碱。尤其是紫色茄子中维生素含量更高。可以抑制消化道肿瘤细胞的增值。
⒋茄子纤维中所含的维生素C和皂草甙，具有降低胆固醇的功效。国外学者提出“降低胆固醇12法”，食用茄子即是其中方法之一。
⒌茄子所含的B族维生素对痛经、慢性胃炎及肾炎水肿等也有一定辅助治疗作用。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>caihau</string>
		<key>goodName</key>
		<string>新鲜菜花来自农家，无公害无农药，有虫子不要钱</string>
		<key>goodPrNum</key>
		<string>32</string>
		<key>praice</key>
		<string>24</string>
		<key>goodDetail</key>
		<string>
药用价值
1、预防心脑血管疾病
菜花是含有类黄酮最多的食物之一。类黄酮作为一种植物化学物质，是很好的血管清理剂，能有效阻止胆固醇氧化，防止血小板凝结，从而降低心脏病与脑卒中的发生风险 [1]  。
2、降低血糖
</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tudou</string>
		<key>goodName</key>
		<string>来自深山自种马铃薯，新鲜无虫，炒鸡必备</string>
		<key>goodPrNum</key>
		<string>23</string>
		<key>praice</key>
		<string>15</string>
		<key>goodDetail</key>
		<string>马铃薯中含有丰富的B族维生素和优质纤维素，这在延缓人体衰
葱油洋芋擦擦
葱油洋芋擦擦
⒉减肥
</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sigua</string>
		<key>goodName</key>
		<string>鲜嫩下菜良品，丝瓜鸡蛋吃饭少不了</string>
		<key>goodPrNum</key>
		<string>34</string>
		<key>praice</key>
		<string>23</string>
		<key>goodDetail</key>
		<string>抗坏血病：丝瓜中维生素C含量较高，可用于抗坏血病及预防各种维生素C缺乏症。
健脑美容：由于丝瓜中维生素B等含量高，有利于小儿大脑发育及中老年人大脑健康；丝瓜藤茎的汁液具有保持皮肤弹性的特殊功能，能美容去皱。
抗病毒、抗过敏：丝瓜提取物对乙型脑炎病毒有明显预防作用，在丝瓜组织培养液中还提取到一种具抗过敏性物质泻根醇酸，其有很强的抗过敏作用</string>
	</dict>
</array>
</plist>
