<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>mihouto</string>
		<key>goodName</key>
		<string>新上架猕猴桃果肉新鲜汁多饱满甜甜</string>
		<key>goodPrNum</key>
		<string>40</string>
		<key>praice</key>
		<string>16</string>
		<key>goodDetail</key>
		<string>是一种可食用与药用为一体的水果，每百克鲜果肉含维生素C100-420毫克，比柑橘高5-10倍，比柠檬高11-13倍，比苹果高20-80倍。红心猕猴桃果肉细嫩、香气浓郁、口感香甜清爽、酸度极低，营养丰富，看之饱眼福、食之饱口福。富含维生素C及P、K、Ca、Mg、Fe、Cu等多种矿物质和18种氨基酸，特别是微量元素中的含钙量为果中之首，被誉为“人间仙果”、被称为“果中之王”、“维C之王”，特别是微量元素中的含钙量较高，果实中的钙可直接被人体吸收，是中老年人良好的补钙剂，营养价值丰富</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>lizhi</string>
		<key>goodName</key>
		<string>滴水荔枝水果中的美人杨贵妃爱吃的水果</string>
		<key>goodPrNum</key>
		<string>28</string>
		<key>praice</key>
		<string>38</string>
		<key>goodDetail</key>
		<string>分布于中国的西南部、南部和东南部，广东和福建南部栽培最盛。亚洲东南部也有栽培，非洲、美洲和大洋洲有引种的记录。 荔枝与香蕉、菠萝、龙眼一同号称“南国四大果品”。
荔枝味甘、酸、性温，入心、脾、肝经；可止呃逆，止腹泻，是顽固性呃逆及五更泻者的食疗佳品，同时有补脑健身，开胃益脾，有促进食欲之功效。因性热，多食易上火</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>xueli</string>
		<key>goodName</key>
		<string>清火润肺必备良品，清脆甘甜不腻口雪梨莱阳正品</string>
		<key>goodPrNum</key>
		<string>78</string>
		<key>praice</key>
		<string>19</string>
		<key>goodDetail</key>
		<string>梨的果实通常用来食用，不仅味美汁多，甜中带酸，而且营养丰富，含有多种维生素和纤维素，不同种类的梨味道和质感都完全不同。梨既可生食，也可蒸煮后食用。在医疗功效上，梨可以通便秘，利消化，对心血管也有好处。在民间，梨还有一种疗效，把梨去核，放入冰糖，蒸煮过后食用还可以止咳；除了作为水果食用以外，梨还可以作观赏之用。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>hongfushi</string>
		<key>goodName</key>
		<string>烟台红富士，甘甜可口，营养丰富特价</string>
		<key>goodPrNum</key>
		<string>87</string>
		<key>praice</key>
		<string>20</string>
		<key>goodDetail</key>
		<string>是一种可食用与药用为一体的水果，每百克鲜果肉含维生素C100-420毫克，比柑橘高5-10倍，比柠檬高11-13倍，比苹果高20-80倍。红心猕猴桃果肉细嫩、香气浓郁、口感香甜清爽、酸度极低，营养丰富，看之饱眼福、食之饱口福。富含维生素C及P、K、Ca、Mg、Fe、Cu等多种矿物质和18种氨基酸，特别是微量元素中的含钙量为果中之首，被誉为“人间仙果”、被称为“果中之王”、“维C之王”，特别是微量元素中的含钙量较高，果实中的钙可直接被人体吸收，是中老年人良好的补钙剂，营养价值丰富</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>putao</string>
		<key>goodName</key>
		<string>来自中国新疆，披博肉多，吐鲁番的甘甜。</string>
		<key>goodPrNum</key>
		<string>208</string>
		<key>praice</key>
		<string>29</string>
		<key>goodDetail</key>
		<string>新疆葡萄是产于新疆的葡萄。新疆葡萄甲天下，尤其以吐鲁番的葡萄最负盛名。尤其是这里生产的无核白葡萄，皮薄、肉嫩、多汁、味美、营养丰富，素有“珍珠”美称，其含糖高达20-24%，超过美国加利福尼亚州的葡萄，居世界之冠。
在秦汉时期可能是经由北疆传入了东疆的吐鲁番地区，同时可能是由中亚经帕米尔传入了南疆塔里木盆地绿洲各城廓小国。此时，新疆种植葡萄、酿造葡萄酒已经很普遍了</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>hamigua</string>
		<key>goodName</key>
		<string>吐鲁番哈密瓜，给你不一样的甘甜可口</string>
		<key>goodPrNum</key>
		<string>189</string>
		<key>praice</key>
		<string>23</string>
		<key>goodDetail</key>
		<string>哈密瓜主产于吐哈盆地，它形态各异，风味独特，瓜肉肥厚，清脆爽口。哈密瓜营养丰富，含糖量最高达21%。哈密的甜瓜在东汉永平年间就成为进贡的异瓜种了。至清代，被哈密王作为贡品，受康熙赏赐而得名哈密瓜。时哈密瓜“往年进贡”、“瓜莫盛于哈密”、“瓜则充贡品者真出哈密”。追根溯源，哈密瓜却源于吐鲁番鄯善县一带。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>tizi</string>
		<key>goodName</key>
		<string>形式葡萄但是甜于葡萄</string>
		<key>goodPrNum</key>
		<string>198</string>
		<key>praice</key>
		<string>25</string>
		<key>goodDetail</key>
		<string>提子具有果脆个大、甜酸适口、极耐贮运、品质佳等优点，虽然价格不菲，但在市场上以其 “贵族身份”而备受青睐。提子所含热量较高，半碗提子已相等于一份水果分量，但提子皮和提子籽内含抗氧化物质，对于心脑血管疾病具预防作用。
所谓“提子”一词是香港人对葡萄的称呼，红、绿、黑是根据葡萄品种的颜色不同而进行的称谓。现在有些专家。种植者及商标上也把葡萄称“提子”，这是不科学的</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>fangxigua</string>
		<key>goodName</key>
		<string>西瓜是方的！！甜！而且好看啊</string>
		<key>goodPrNum</key>
		<string>38</string>
		<key>praice</key>
		<string>34</string>
		<key>goodDetail</key>
		<string>方形西瓜是一种用模具压制而成的西瓜。由于瓜形好，易运输，一度受到热捧。方形西瓜，最初只是为了方便存储，节省空间。它并不是转基因西瓜，只是人们在培育时，将其放在一个透明的盒子里，所以成熟时它就长成了方形了。
此外，还可以在西瓜上写字、制作图案，使其更具观赏价值。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>shizi</string>
		<key>goodName</key>
		<string>柔软可口，甘甜不腻，必备精品啊啊！！</string>
		<key>goodPrNum</key>
		<string>89</string>
		<key>praice</key>
		<string>26</string>
		<key>goodDetail</key>
		<string>柿树是中国栽培悠久的果树。果实常经脱涩后作水果，经过适当处理，可贮存数月，如采用冷冻法处理，贮藏在零下10℃的低温，一年中都可随时取食。柿子亦可加工制成柿饼。山东益阳、兖州、吴村、菏泽一带，所产火饼、羹饼，都是带白霜的柿饼；陕西、洛阳、嵩山一带所产的“黄饼”，柿霜浓厚。将柿饼上的白霜扫下，可作为白糖的代用品。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>juzi</string>
		<key>goodName</key>
		<string>是生于淮南的橘子，甘甜可口夏日必备良品！！</string>
		<key>goodPrNum</key>
		<string>78</string>
		<key>praice</key>
		<string>35</string>
		<key>goodDetail</key>
		<string>橘子中的维生素A还能够增强人体在黑暗环境中的视力和治疗夜盲症。橘子不宜食用过量，吃太多会患有胡萝卜素血症，皮肤呈深黄色，如同黄疸一般。若因吃太多橘子造成手掌变黄，只要停吃一段时间，就能让肤色渐渐恢复正常。明代张岱季叔张烨芳对橘子情有独钟，据载其“性好啖橘，橘熟，堆砌床案间，无非橘者，自刊不给，辄命数僮环立剥之”，吃到手脚都呈现黄色。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>xiangjiao</string>
		<key>goodName</key>
		<string>进口大香蕉，酥软可口，营养丰富</string>
		<key>goodPrNum</key>
		<string>40</string>
		<key>praice</key>
		<string>16</string>
		<key>goodDetail</key>
		<string>香蕉果肉营

养价值颇高，每100克果肉含碳水化合物20克、蛋白质1.2克、脂肪0.6克；此外，还含多种微量元素和维生素。其中维生素A能促进生长，增强对疾病的抵抗力，是维持正常的生殖力和视力所必需；硫胺素能抗脚气病，促进食欲、助消化，保护神经系统；核黄素能促进人体正常生长和发育。　香蕉除了能平稳血清素和褪黑素外，它还含有可具有让肌肉松弛效果的镁元素，经常工作压力比较大的朋友可以多食用</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>hongzao</string>
		<key>goodName</key>
		<string>补血营养价值超高大红枣产子枣庄</string>
		<key>goodPrNum</key>
		<string>35</string>
		<key>praice</key>
		<string>34</string>
		<key>goodDetail</key>
		<string>红枣，又名大枣，属于被子植物门，双子叶植物纲、鼠李目、鼠李科、枣属的植物。它的维生素含量非常高，有“天然维生素丸”的美誉，具有滋阴补阳的功效。
红枣为温带作物，适应性强，种植范围广泛。红枣素有“铁杆庄稼”之称，具有耐旱、耐涝的特性，是发展节水型林果业的首选良种。</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>fengli</string>
		<key>goodName</key>
		<string>甘甜凤梨特价促销</string>
		<key>goodPrNum</key>
		<string>89</string>
		<key>praice</key>
		<string>23</string>
		<key>goodDetail</key>
		<string>凤梨营养丰富，其成分包括糖类、蛋白质、脂肪、维生素A、B1.B2.C、蛋白质分解酵素及钙、磷、铁、有机酸类、尼克酸等，尤其以维生素C含量最高。 [6] 
凤梨味甘、微酸，性微寒，有清热解暑、生津止渴、利小便的功效，可用于伤暑、身热烦渴、腹中痞闷、消化不良、小便不利、头昏眼花等症。而且在果汁中，还含有一种跟胃液相类似的酵素，可以分解蛋白，帮助消化。美味的菠萝，这种水果不仅可以减肥，而且对身体健康有着不同的功效</string>
	</dict>
</array>
</plist>
